<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Oztec_Parcelamento>
			<version>0.1.0</version>
		</Oztec_Parcelamento>
	</modules>
	<frontend>
		<routers>
			<parcelamento>a
				<use>standard</use>
					<args>
						<module>Oztec_Parcelamento</module>
						<frontName>parcelamento</frontName>
					</args>
			</parcelamento>
		</routers>
		<layout>
    		<updates>
        		<parcelamento>
            		<file>oztec_parcelamento.xml</file>
            	</parcelamento>
			</updates>
		</layout>
	</frontend>
	<global>
		<helpers>
    		<parcelamento>
        		<class>Oztec_Parcelamento_Helper</class>
        	</parcelamento>
		</helpers>
	</global>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <parcelamento>
                                            <title>Oztec Parcelamento</title>
											<sort_order>70</sort_order>
                                        </parcelamento>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
        <default>
            <parcelamento>
                <parcelamento_general>
                    <enabled>0</enabled>
                    <parcelamento_jquery>1</parcelamento_jquery>
					<parcelamento_xparcelas>0</parcelamento_xparcelas>
					<parcelamento_desconto>0</parcelamento_desconto>
                </parcelamento_general>
            </parcelamento>
        </default>
</config>
